:root {
	--black: #bbbbbb;
	--white: #121212;
	--hl1: #1f89c2;
	--hl: #fcb531;
	--dgray: #0f0f0f;
	--lgray: #1f1f1f
}

* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
	/* zoom: 95%; */
    text-rendering: geometricprecision;
}

@font-face {
	font-family: 'VCR'; 
	src: url('VCR.ttf') format('truetype');
  }

@keyframes backgroundChange {
    0%, 30% {
        opacity: 0;
      }
    
      40%, 60% {
        opacity: 1;
      }
    
      70%, 100% {
        opacity: 0;
      }
}

body {
    background: none;
    background-color: rgb(11, 11, 11); 
    transition: opacity 1.5s ease;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: relative;
    z-index: 0;

    color: #fff;
    /* height: 100vh; */
	width: 100%;

    font-family: VCR;
    font-size: 1rem;
	line-height: 1.35;

	padding: 0;
	transition: .3s;
	scrollbar-color: var(--lgray) #0f0f0f;
	scrollbar-width: .5rem;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
   	-ms-user-select: none;
   	user-select: none;

    min-height: 100vh;
    overflow-y: scroll;

    scroll-snap-type: block mandatory;
    box-shadow: inset 0 0 100px 60px rgb(0, 0, 0);

}

body.loaded {
  opacity: 1;
}

p {
  color: #9e670e;

  /* text-shadow:
    0 0 2px rgba(196, 151, 37, 0.35),
    0 0 6px rgba(205, 131, 4, 0.2),
    0 0 12px rgba(188, 131, 16, 0.08); */
}

#hud {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
}

a {
    color: inherit;
    text-decoration: none;
}

.scary:hover {
    color: #fff;
    pointer-events: auto;
}

a:hover {
    color: #1f89c2;
}

div.foreground {
    min-height: 100vh;
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 1;
    position: fixed;
}

.container {
	/* position: fixed; */
    width: 100%;
    max-width: 60vw;
    min-height: 60vh;
    margin-left: 10vw;
    margin-right: auto;
    color: rgb(78, 55, 16); position: fixed; top:10vh; left: -5vw; transition: opacity 2s ease-in
    /* padding: 1rem 2rem; */
}

@keyframes dropShadow {
    25%{
        background-image: url('images/idle_nh');
        filter: none;
      }
      100% {
        filter: drop-shadow(20px 10px 0px #eeb115)
      }
}

@keyframes breathe {
    0%, 100% { transform: translateY(5vh) scale(1); }
    50% { transform: translateY(5.8vh) scale(1); }
}

.bsu {
    transition: 0.2s ease-in;
    background-color: #0f0f0f;
    color: #fff;
    opacity: 0;
    font-size: 1rem;
    position: fixed;
    max-width: auto;
    right: 30vw;
    top: 35vh;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    text-align:center;
    z-index: 9999;
}

.heranim {
    animation: breathe 4s ease-in-out infinite;
    image-rendering: crisp-edges;
    position: fixed;
    bottom: 0;
    right: 16vw;
    width: clamp(18vw, 38vw, 38vw);
    z-index: 10;
    pointer-events: none;
    transform: translateY(5vh);
    pointer-events: auto;

    display: grid;
}

.heranim img {
    grid-area: 1 / 1;
    width: 100%;
    height: auto;
    opacity: 0;
  }

.her.idle {
    opacity: 1;
}

.her.speak {
    opacity: 0;
}

.her.speakblink {
    opacity: 0;
}

.heranim:hover .her.idle,
.heranim:hover .her.blink,
.heranim:hover .her.speakblink {
    opacity: 0;
}

.heranim:hover .her.speak {
    opacity: 1;
}
.heranim:hover .bsu {
    opacity: 1;
    transition: 0.2s ease-in;
}

.her {
    transform: rotate(8deg);
    animation-name: intro, dropShadow;
    animation-duration: 2s, 4s;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards;
    animation-delay: 0s, 2s;
    /* filter: drop-shadow(30px 10px 0px #fabd2e); */
}

#logo {
    width: 5%;
}

.spacer {
    padding: 50px;
}

.hl {
	color: var(--hl);
	font-weight: normal;
}


@media only screen and (max-width: 768px) {
    body {
      background-color: #121212;
    }

    .her {
        display: none;
    }

    .text-subtitle .text-title {
        text-align: center;
        position: absolute;
        max-width: none !important;
    }

    .container {
        position: absolute
    }
  }

@media screen and (min-width: 1921px) {
    body {
        font-size: clamp(1rem, 1.2rem, 3.3rem);
    }

    .container {
        transform: none;
        color: rgb(78, 55, 16); position: fixed; top:20vh; left: -5vw; transition: opacity 2s ease-in
    }

    .bsu {
        transition: 0.2s ease-in;
        background-color: #0f0f0f;
        color: #fff;
        opacity: 0;
        font-size: 2rem;
        position: fixed;
        max-width: auto;
        display: inline-block;
        right: 30vw;
        top: 65vh;
        padding: 1px;
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        text-align:center;
        z-index: 9999;
    }

    .heranim {
        position: fixed;
        bottom: 0;
        right: 18vw;
        width: clamp(28vw, 38vw, 48vw);
        z-index: 10;
        pointer-events: auto;
        transform: translateY(5vh);
    }
}